@font-face {
	font-family: 'IM Fell English';
	src: local('IM FELL English Roman'), local('IM_FELL_English_Roman'), url(http://themes.googleusercontent.com/static/fonts/imfellenglish/v3/xwIisCqGFi8pff-oa9uSVCLHKJuu6uDU1VgRUl2Dqww.woff) format('woff');
}

@font-face {
	font-family: 'IM Fell English';
	font-style: italic;
	src: local('IM FELL English Italic'), local('IM_FELL_English_Italic'), url(http://themes.googleusercontent.com/static/fonts/imfellenglish/v3/Z3cnIAI_L3XTRfz4JuZKbp3BpQU8opE6p3S8I9UDCT8.woff) format('woff');
}

@font-face {
	font-family: 'IM Fell English SC';
	src: local('IM FELL English SC'), local('IM_FELL_English_SC'), url(http://themes.googleusercontent.com/static/fonts/imfellenglishsc/v3/h3Tn6yWfw4b5qaLD1RWvz1NITcQXGZNmPdSry0X2sgA.woff) format('woff');
}

* {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

html, body {
	min-height: 100%;
}

html {
	background: #302722 url(images/tweed.jpg) fixed;
	background: linear-gradient(rgba(0,0,0,.6), transparent) top left repeat-x,
	            url(images/tweed.jpg) hsl(20, 20%, 15%);
	background-size: 100% 300px, auto;
}

body {
	position: relative;
	padding: 2em 1em 1em;
	color: white;
	font-family: 'IM Fell English', 'Palatino Linotype', Palatino, serif;
	hyphens: auto;
	line-height: 1.6;
}


a {
	color: inherit;
	text-decoration: none;
}

header,
body > section {
	max-width: 50em;
	margin: auto;
	color: white;
	color: hsl(36, 50%, 85%);
	text-shadow: .2em -.2em .2em rgba(0,0,0,.6), -.2em -.2em .2em rgba(0,0,0,.6);
	
	@media (max-width: 1100px) {
		& {
			max-width: 22em;
		}
	}
}

body > section > h1 {
	margin-top: 1em;
	font-size: 250%;
	color: hsl(36, 60%, 40%);
}

header {
	
}

	header a {
		color: hsl(200, 25%, 70%);
	}
	
	header a:hover,
	header a:focus {
		color: hsl(36, 50%, 50%);
	}

	header h1 {
		max-width: 13.7em;
		margin-top: 1em;
		font-family: 'IM Fell English SC', 'Palatino Linotype';
		font-size: 160%;
		line-height: 1.3;
		hyphens: manual;
	}
	
		header h1 strong {
			display: block;
			color: hsl(36, 60%, 40%);
			font-size: 185%;
		}
	
	header p {
		margin-top: .25em;
		font-size: 120%;
	}
	
	@keyframes picture {
		to { background-position: 100% 100%, 0% 100%, 0% 100%; }
	}
	
	header figure {
		float: right;
		position: relative;
		display: block;
		overflow: hidden;
		width: 20em;
		height: 20em;
		max-width: 100%;
		padding: 2em;
		border: 0 solid rgba(0,0,0,.6);
		border-width: 0 3px 4px 0;
		border-radius: 50%;
		margin: .6em 0 .5em 1em;
		background: url(images/juliancheal.jpg) no-repeat,
		            linear-gradient(black, black),
		            url(images/leather.png) hsl(38, 100%, 25%);
		background-position: 0% 100%, 0% 100%, 0% 100%;
		background-size: auto 100%, auto;
		background-clip: content-box, content-box, border-box;
		background-origin: content-box, content-box, border-box;
		box-shadow: .1em .3em .4em hsla(0,0%,100%,.2) inset,
		            -.1em -.2em .4em hsla(0,0%,0%,.4) inset,
		            .2em .6em .2em .4em rgba(0,0,0,.6);
		animation: picture 10s linear alternate infinite;
		animation-play-state: paused;
		
		@media (max-width: 1100px) {
			& {
				float: none;
				margin-left: -.4em;
			}
		}
	}
	
	header figure:hover  {
		animation-play-state: running;
	}
	
	header figure:before,
	header figure:after {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0; right: 0; bottom: 0; left: 0;
		border-radius: 50%;
	}
	
	/* Shading */
	header figure:before {
		margin: 2em;
		box-shadow: .1em .1em .4em hsla(0,0%,100%,.2),
		            .1em .1em 1em black inset;
	}
	
	/* Stiches */
	header figure:after {
		border: 2px dashed hsl(38, 60%, 10%);
		margin: .8em .7em .7em .8em;
		-webkit-filter: drop-shadow(1px 1px 1px hsla(0,0%,100%,.5));
	}
	
		
		header figure img {
			display: none;
			height: 100%;
		}
		
		header figure figcaption {
			display: none;
		}

footer {
	display: block;
	text-align: center;
	font-size: 80%;
	padding: 1em 0;
}

@mixin button($size, $color, $stitch) {
	position: relative;
	display: inline-block;
	width: $size;
	height: $size;
	padding: $size/10;
	box-sizing: border-box;
	border: $size*.04 solid transparent;
	border-radius: 50%;
	margin-left: $size * .2;
	margin-bottom: $size * .3;
	background: radial-gradient(at 50% 5%, lighten($color, 5%), $color), 
	            linear-gradient(darken($color,5%), lighten($color, 12%)), 
	            linear-gradient(lighten($color, 20%), darken($color, 1%))
	            $color;
	background-clip: content-box, padding-box, border-box;
	background-origin: content-box, padding-box, border-box;
	box-shadow: $size*.03 $size/10 2px 1px rgba(0,0,0,.6);
	color: black;
	transition: .4s;
	
	& > svg {
		display: block;
		width: $size * .608111832; /* *0.86 / sqrt(2) */
		overflow: visible;
		margin: auto;
		
		text { 
			font: 18px/1 sans-serif;
			letter-spacing: .1em;
			text-anchor: middle;
			color: black;
			fill: currentColor;
			stroke: currentColor;
			stroke-width: 2px;
			stroke-linejoin: round;
			text-shadow: 0 1px 1px hsla(0,0%,100%,.15);
		}
		
		path {
			fill: none;
		}
	}
	
	&:hover {
		transform: scale(1.15);
		box-shadow: $size*.03 $size/10 10px 0px rgba(0,0,0,.6);
		
		svg text {
			color: lighten($color,50%);
			fill: currentColor;
			stroke: currentColor;
			text-shadow: 0 0 20px;
		}
	}
	
	&:active {
		transform: scale(.95);
		margin-top: 1px;
		box-shadow: -1px -2px 20px 4px black;
	}
	
	/* Button holes */
	$holes: $size/4;
	
	&:before {
		content: '';
		position: absolute;
		top: ($size*.9 - $holes)/2 + 1px;
		left: ($size*.9 - $holes)/2;
		width: $holes/3;
		height: $holes/3;
		border-radius: 50%;
		background: black;
		box-shadow: 0 1px 1px hsla(0,0%,100%,.3),
		            2*$holes/3 0, 2*$holes/3 1px 1px hsla(0,0%,100%,.3),
		            0 2*$holes/3, 0 (2*$holes/3 + 1px) 1px hsla(0,0%,100%,.3),
		            2*$holes/3 2*$holes/3, 2*$holes/3 (2*$holes/3 + 1px) 1px hsla(0,0%,100%,.3);
	}
	
	/* Stiching */
	&:after,
	& > span {
		content: '';
		position: absolute;
		top: 50%; left: 50%;
		width: $holes*.8;
		height: $holes * .25;
		border-radius: $holes * .15;
		margin-top: -($holes * .125 + 1px);
		margin-left: -($holes * .4) - 2px;
		background: linear-gradient(90deg, rgba(0,0,0,.5), transparent, transparent, rgba(0,0,0,.5)),
		            linear-gradient(0deg, rgba(0,0,0,.1), transparent 50%, hsla(0,0%,100%,0) 50%, hsla(0,0%,100%,.3) 80%),
		            $stitch;
		background-size: 100% 3px;
	}
	
	&:after {
		transform: rotate(45deg);
		box-shadow: 1px 1px $size * .05 rgba(0,0,0,.5);
	}
	
	& > span {
		transform: rotate(-45deg);
		box-shadow: -1px 1px $size * .05 black;
	}
}

nav {
	position: absolute;
	top: 0; bottom: 0; left: 50%; 
	padding-top: 4em;
	padding-right: 2em;
	width: 90px;
	margin-left: calc(-28em - 90px);
	
	@media (max-width: 1100px) {
		& {
			margin-left: calc(-15em - 90px)
		}
	}
	
	@media (max-width: 630px) {
		& {
			position: static;
			width: auto;
			text-align: center;
			margin: 0;
		}
	}
	
	/* Decorative stitches */
	&:before {
		content: '';
		position: absolute;
		top: 0; bottom: 0; right: 0;
		width: 12px;
		background: url(images/stitch.svg) repeat-y;
		background-size: 100% auto;
		-webkit-filter: drop-shadow(-1px -1px 3px black);
		
		@media (max-width: 630px) {
			& {
				display: none;
			}
		}
	}
}

.button {
	@include button(90px, hsl(35,20%,10%), hsl(210, 25%, 30%));
	
	@media (max-width: 400px) {
		@include button(80px, hsl(35,20%,10%), hsl(210, 25%, 30%));
	}
}

#talks:not(:target) {
	display: none;
}